<h1>Welcome#index</h1>
<h1> 1 + 1 = <%= 1+1 %> </h1>
<p>
  <strong>US Date: </strong>
  <%= Date.today %>
</p>
<p>
  <strong>BR Date: </strong>
  <%= br_date(Date.today) %>
</p>

<p>
Hello, you are at 
<strong>
  <%= rails_environment %>
</strong> 
environtment
</p>

<ul>
  <!-- This is not the preferred way of doing that, we should use the link_to helper -->
  <a href="/coins">Cadastro de moedas</a>
  <br/>
  <!-- This is the best way of creating links, cuz this code is more flexibe, as it's ruby code -->
  <%= link_to "Cadastro de moedas", coins_path %>
</ul>
