<h1>Welcome#index</h1>

<h2>Hello <%= @name %>, how u doing today?</h2>

<h3> 1 + 1 = <%= 1+1 %> </h3>

<p>
  <strong>US Date: </strong>
  <%= Date.today %>
</p>
<p>
  <strong>BR Date: </strong>
  <%= br_date(Date.today) %>
</p>

<p>
  You are at the  
  <strong>
    <%= rails_environment %>
  </strong> 
  environment
</p>

<%= render 'menu' %>
